/* .login-body{
    display: flex;
    flex-direction: row;
}
.login-left{
    height: 100vh;
    width: 52vw;
    background-color: #0bacac;
    
}
.login-right{
    background-color: rgb(226, 224, 224);
    align-items: center;
    justify-content: center;
    margin: auto;
    
    gap: 30px;
    display: flex;
    flex-direction: column;
    color: #008080;
    height: 100vh;
    width: 48vw;
}
.inputLabel{
    font-size:28px;
    font-weight: 500;
    color: black;
    letter-spacing: 0.8px;
    font-family: THICCCOBOI;
}
.Input{
    height: 40px;
    width: 500px;
    font-size: 20px;
    padding: 10px;
    
    border: none;
    border-radius: 8px;
}
.checkboxContainer{
    display: flex;
    flex-direction: row;
    height: 1rem;
    gap: 150px;
    font-size: 20px;
    align-items: center;
    margin-top: 0px;
    cursor: pointer;
}
.checkInput{
    height: 20px;
    width: 20px;
}
.login-btn{
    height: 60px;
    width: 500px;
    margin-top: 20px;
    font-size: 24px;
    background-color: #008080;
    color: white ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} */

.login-body{
    display: flex;
    flex-direction: row;
}
.login-left{
    height: 100vh;
    width: 52vw;
    background-color: #0bacac;
    /* color: #ffffff; */
}

.login-right{
    background-color: rgb(226, 224, 224);
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 1.875rem;    
    flex-direction: column;
    color: #008080;
    height: 100vh;
    width: 48vw;
}
.text{
    text-align: center;
    color: white;
    margin-top: 13.75rem;
    margin-left: 2.5rem;
    font-size: 2.5rem;
    margin-right: -1.25rem;
    -ms-flow-from: 600;
    letter-spacing: 0.075rem;
    
}
.heading{
    font-size: 2.375rem;
    font-weight: 600;
}
.checkboxContainer{
    display: flex;
    flex-direction: row;
    height: 1rem;
    gap: 150px;
    font-size: 20px;
    align-items: center;
    margin-top: 0px;
    cursor: pointer;
}
.checkInput{
    height: 20px;
    width: 20px;
}
.inputLabel{
    font-size:1.75rem;
    font-weight: 500;
    color: black;
    letter-spacing: 0.05rem;
    font-family: THICCCOBOI;
}
.Input{
    height: 2.5rem;
    width: 31.25rem;
    font-size: 1.25rem;
    padding: 0.625rem;
    
    border: none;
    border-radius: 0.5rem;
}
.login-btn{
    height: 3.75rem;
    width: 31.25rem;
    margin-top: 1.25rem;
    font-size: 1.5rem;
    background-color: #008080;
    color: white ;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
}
.horizontal_line{
    margin-top: 40vh;
    margin-left: 1.25rem;
    margin-right: 8.75rem;
}
.robot_img, .uno_img, .voltmeter_img{
    height: 6.25rem;
    width: 6.25rem;
}
.sensor_img{
    height: 6.25rem;
    width: 6.25rem;
    margin-top: 24vh;
    float: right;
    
}
@media screen and(max-width: 1408px) {
    .horizontal_line{
        margin-top: 28vh;
    }
    .sensor_img{
        margin-top: 30vh;
    }
}
@media screen and (max-width:1175px) {
    .login-btn{
        width: 25rem;
    }
    .inputLabel{
        font-size: 1.5rem;

    }
    .Input{
        width: 25rem;
    }
    .checkboxContainer{
        gap: 100px;
    }
}
@media screen and (max-width:1010px) {
    
    .login-btn{
        width: 20rem;
    }
    .inputLabel{
        font-size: 1.5rem;

    }
    .Input{
        width: 20rem;
        font-size: 1.0rem;
    }
    .heading{
        font-size: 2.1rem;
        font-weight: 600;
    }
    .checkboxContainer{
        gap: 30px;
    }
}
@media screen and (max-width: 992px) {
    .horizontal_line{
        display: none;
    }
    .text{
        font-size: 2.2rem;
    }
    .robot_img, .uno_img, .voltmeter_img{
        height: 5.25rem;
        width: 5.25rem;
    }
    .sensor_img{
        display: none;
    }
    .checkboxContainer{
        gap: 25px;
        font-size: 18px;
    }
    .checkInput{
        height: 17px;
        width: 17px;
    }
}
@media screen and (max-width:832px) {
    .login-btn{
        width: 17rem;
    }
    .inputLabel{
        font-size: 1.5rem;

    }
    .Input{
        width: 17rem;
        font-size: 1.0rem;
    }
    .heading{
        font-size: 1.9rem;
        font-weight: 600;
    }
    .horizontal_line{
        margin-top: 40px ;
    }
    .checkboxContainer{
        gap: 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 730px) {
    .login-left{
        display: none;
    }
    .login-right{
        width: 100vw;
        height: 96.5vh;
        border: 12px solid #008080;
    }
    .login-btn{
        width: 28rem;
    }
    .inputLabel{
        font-size: 2rem;

    }
    .Input{
        width: 28rem;
        font-size: 1.3rem;
    }
    .heading{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .checkboxContainer{
        gap: 150px;
        font-size: 20px;
    }
    
}
@media screen and (max-width: 584px) {
    .login-left{
        display: none;
    }
    .login-right{
        width: 100vw;
    }
    .login-btn{
        width: 20rem;
    }
    .inputLabel{
        font-size: 1.7rem;

    }
    .Input{
        width: 20rem;
        font-size: 1.1rem;
    }
    .heading{
        font-size: 2rem;
        font-weight: 600;
    }
    .checkboxContainer{
        gap: 30px;
        font-size: 20px;
    }
    
}
@media screen and (max-width: 382px) {
    .login-left{
        display: none;
    }
    .login-right{
        width: 100vw;
    }
    .login-btn{
        width: 16rem;
        font-size: 1.2rem;
    }
    .inputLabel{
        font-size: 1.45rem;

    }
    .Input{
        width: 16rem;
        font-size: 1.1rem;
    }
    .heading{
        font-size: 2rem;
        font-weight: 600;
    }
    .checkboxContainer{
        gap: 30px;
        font-size: 16px;
    }
    .checkInput{
        height: 17px;
        width: 17px;
    }
}
